<p id="index-title">My Todos</p>

<div class="todos">
  <% @todos.each do |todo| %>
      <div class="row">
        <div class="col-md-6">
          <%= todo.description%>
        </div>
        <div class="col-md-2">
          <%= todo.days_left%>
        </div>

       <%  if todo.complete %>

        <div class="col-md-2">
          <i class="fa fa-check-square-o"></i>
        </div>
       <% else %>
        <div class="col-md-2">
          <%= link_to complete_todo_path(todo) do %>
            <i class="fa fa-square-o"></i> Complete
          <% end %>
        </div>
        <% end %>
      </div>
  <% end %>
</div>

<!-- BUTTON to create new todos -->